useDynLib(STNNGP, .registration=TRUE)

export(STNNGP)
export(rstnngp)

# S3method("print", "STNNGP")
# S3method("summary", "STNNGP")
# S3method("fitted", "STNNGP")
# S3method("residuals", "STNNGP")
S3method("predict", "STNNGP")
S3method("print", "predict.STNNGP")

import(Formula, coda, RANN)
importFrom("stats", "coefficients", "lm", "contrasts", "is.empty.model", "model.matrix", "model.response", "terms", "dnorm", "pnorm", "dbinom", "glm", "rnorm", "var", "rbinom", "fitted", "quantile", "rgamma")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("RANN", "nn2")
importFrom("methods", "is")
importFrom("dplyr", "bind_rows")